.text_color_1{
    color: #808080;
}

.text_color_2{
    color: #787878;
}

.notification-content {
    justify-content: space-around;
}

.notification-block {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    background: #fff;
    padding: 0 10px 10px 10px;
    max-width: 300px;
    height: 160px;
    width: 300px;
}

.notification-icon {
    display: inline-block;
    position: relative;
    top: -40px;
    width: 90px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}

.notification-icon-activities {
    background-color: #f5ba45;
}

.notification-icon-alerts {
    background-color: #cf3530;
}

.notification-icon-ressouces {
    background-color: #8d8d8d;
}

.notification-icon-validations {
    background-color: #143b59;
}

.notification-text {
    display: inline-block;
    margin: 0;
    font-size: 13px;
    width: 100px;
    text-align: right;
    color: #afafaf;
}

.notification-number {
    display: inline-block;
    font-size: 70px;
    color: #143b59;
}

.notification-footer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.notification-footer a:hover {
    color: #f5ba45;
}

.second-content {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    background: #fff;
    padding: 0 30px 10px 30px;
}

.search-container {
    float: right;
}

.search-container input {
    background-color: transparent;
    border: none;
    padding: 0;
    border-bottom: 1px solid #ccc;
}

.search-container input:focus {
    outline: none;
}

.search-container span {
    border-bottom: 1px solid #ccc;
    padding-bottom: 2px;
    margin-left: -5px;
    color: #f5ba45;
}

.onglet-btn-container {
    display: inline-block;
    position: relative;
    top: -20px;
    padding: 0;
    /*padding-left: 10px;*/
    border-radius: 5px;
    text-align: center;
}

.onglet {
    background-color: #dadada;
    color: #6e6e6e;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    padding: 15px;
    margin: 0 10px;
}

a.onglet:hover {
    color: #6e6e6e;
    text-decoration: none;
}

.onglet-active {
    background-color: #143b59;
    color: #fff;
}

a.onglet-active:hover {
    color: #fff;
}

.prev_date_text {
    font-size: 18px;
    border-bottom: 1px solid;
}

#table-1 {
    overflow-x: scroll;
}

/* Statut range generale */

input.statutrange[type=range] {
    -webkit-appearance: none;
    background: none;
    width: 70px;
}

input.statutrange[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    /*background: #ddd;*/
    border: none;
    border-radius: 15px;
}

input.statutrange[type=range]::-ms-track {
    height: 15px;
    /*background: #ddd;*/
    border: none;
    border-radius: 15px;
}

input.statutrange[type=range]::-moz-range-track {
    height: 15px;
    /*background: #ddd;*/
    border: none;
    border-radius: 15px;
}

input.statutrange[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    /*background: #555;*/
    margin-top: -5px;
    position: relative;
}

input.statutrange[type=range]::-ms-thumb {
    -webkit-appearance: none;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    /*background: #555;*/
    margin-top: -5px;
    position: relative;
}

input.statutrange[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    /*background: #555;*/
    margin-top: -5px;
    position: relative;
}

input.statutrange[type=range]:focus {
    outline: none;
}

input.statutrange[type=range]:focus::-webkit-slider-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    /*color: #555;*/
    padding: 5px 10px;
    /*border: 20px solid #555;*/
}

input.statutrange[type=range]:focus::-ms-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    /*color: #555;*/
    padding: 5px 10px;
    /*border: 20px solid #555;*/
}

input.statutrange[type=range]:focus::-moz-range-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    /*color: #555;*/
    padding: 5px 10px;
    /*border: 20px solid #555;*/
}

/* Statut range 0 */

input.range0[type=range]::-webkit-slider-thumb {
    background: #cf3530;
}

input.range0[type=range]::-ms-thumb {
    background: #cf3530;
}

input.range0[type=range]::-moz-range-thumb {
    background: #cf3530;
}

input.range0[type=range]::-webkit-slider-runnable-track {
    background: #e29592;
}

input.range0[type=range]::-ms-track {
    background: #e29592;
}

input.range0[type=range]::-moz-range-track {
    background: #e29592;
}

input.range0[type=range]:focus::-webkit-slider-runnable-track {
    background: #e29592;
}

input.range0[type=range]:focus::-ms-track {
    background: #e29592;
}

input.range0[type=range]:focus::-moz-range-track {
    background: #e29592;
}

/* Statut range 1 */

input.range1[type=range]::-webkit-slider-thumb {
    background: #555;
}

input.range1[type=range]::-ms-thumb {
    background: #555;
}

input.range1[type=range]::-moz-range-thumb {
    background: #555;
}

input.range1[type=range]::-webkit-slider-runnable-track {
    background: #ddd;
}

input.range1[type=range]::-ms-track {
    background: #ddd;
}

input.range1[type=range]::-moz-range-track {
    background: #ddd;
}

input.range1[type=range]:focus::-webkit-slider-runnable-track {
    background: #ddd;
}

input.range1[type=range]:focus::-ms-track {
    background: #ddd;
}

input.range1[type=range]:focus::-moz-range-track {
    background: #ddd;
}

/* Statut range 2*/

input.range2[type=range]::-webkit-slider-thumb {
    background: #3a834c;
}

input.range2[type=range]::-ms-thumb {
    background: #3a834c;
}

input.range2[type=range]::-moz-range-thumb {
    background: #3a834c;
}

input.range2[type=range]::-webkit-slider-runnable-track {
    background: #97bca0;
}

input.range2[type=range]::-ms-track {
    background: #97bca0;
}

input.range2[type=range]::-moz-range-track {
    background: #97bca0;
}

input.range2[type=range]:focus::-webkit-slider-runnable-track {
    background: #97bca0;
}

input.range2[type=range]:focus::-ms-track {
    background: #97bca0;
}

input.range2[type=range]:focus::-moz-range-track {
    background: #97bca0;
}